extends layout
block head
    
block content
  h1= title
  p Welcome to #{title}
  
  a(href="/browse", class="browse") View all uploaded files
  
  #uploader

  #uploaded_files
  
  script(id="upload_template", type="text/template")
    form(id="uploader", method="post", enctype="multipart/form-data", action="/file-upload")
      input(type="file", name="textfile", id="textfile", class="text")
      input#upload(type="submit", value="Upload", class="submit")

  
  script(id="uploaded_files_template", type="text/template")
    ul.files
    

  include partials/uploaded_file_template.jade
