doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block head
  body
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/backbone.js')
    script(src='/javascripts/backbone-models.js')
    script(src='/javascripts/backbone-collections.js')
    script(src='/javascripts/backbone-views.js')
    script(src='/javascripts/main.js')
    